{% extends "base.html" %}
{% block content %}
<div class="container">		
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div class="card rounded">
				{% if not community %}
					<h4 class="card-header text-center">Add Item</h4>
					<div class="card-body d-flex justify-content-center">
						<form action = "{{ url_for('upload.user_classifier') }}" method = "POST" enctype = "multipart/form-data">
							<div class="row">
								<div class="col-6">
									<label class="card-label">Upload an Image</label>
									<input type = "file" name = "file" />
								</div>
								<div class="col-6">
									<label class="card-label">Notes</label>
									<textarea class="form-control" id="notes_input" name="notes" maxlength="255"></textarea>
								</div>
							</div>
							<div class="row"><div class="col"><br></div></div>
							<div class="row">
								<div class="col-12 d-flex justify-content-center">
									<input type = "submit"/>
								</div>
							</div>
						</form>
					</div>
				{% else %}
					<h4 class="card-header text-center">Viz Here</h4>
					<div class="card-body d-flex justify-content-center">
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-12">		
			<div class="card rounded">
				<h4 class="card-header text-center">{% if community %} Community Efforts {% else %} Your E-Waste History {% endif %}</h4>
				<div class = "card-body">
					<table id="dataTable" class="table table-bordered table-striped w-100 ">
						<thead>
							<tr>
								<th style="max-width: 20px;">ID</th>
								<th style="max-width: 100px;">Item</th>
								<th>Type</th>
								<th>Date Added</th>								
								<th>Disposed?</th>
								<th>Disposal Method</th>
								<th>Notes</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<td>{{item[0]}}</td>
									<td><img style="max-width: 50px; max-height: 100%;" onclick='fullImg("{{item[1]}}")' src="{{item[1]}}"></td>
									<td>{{item[2]}}</td>
									<td>{{item[3]}}</td>
									<td>
										<input id="{{item[0]}}_dispo_val" type='hidden' {% if item[4] %} value=1 {% endif %} name='dispo_val'>
										<input id="{{item[0]}}_dispo_input" class="form-control text-center" type='checkbox' {% if item[4] %} checked {% endif %}>
									</td>
									<td>{{item[5]}}</td>
									<td>
										<textarea class="form-control" id="{{item[0]}}_notes_input" name="notes" rows="1" maxlength="255">{% if item[6] %} {{item[6]}} {% endif %}</textarea>
									</td>
									<td><input type="button" class="btn btn-info btn-sm" onclick='updateItem("{{item[0]}}")' value="Update"/></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{% if filename %}
				<div class="card rounded" id="uploaded_image">
					<h4 class="card-header text-center">Here's what we found..</h4>
					<div class = "card-body">
						<div class="row">
							<div class="col"></div><!--empty col-->
							<div class="col-4">
							{% for class in classes %}
								<p>{{ class [0] }}</p>
							{% endfor %}
							</div>
							<div class="col-4">
							{% for class in classes %}
								{% if class[1] %}
									<p> E-Waste! </p>
								{% else %}
									<p> Not E-Waste. </p>
								{% endif %}
							{% endfor %}
							</div>
							<div class="col"></div><!--empty col-->
						</div>
					</div>
					<div class="card-body d-flex justify-content-center">
						<img src="{{ filename }}">
					</div>
				</div>
				<div class="card rounded">
					<h4 class="card-header text-center">Check out nearby e-waste recycling centers below</h4>
					<div class = "card-body">
						<iframe
						  frameborder="0" style="position: relative; height: 100%; max-height: 500px; width: 100%;"
						  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD_RgMHzey_BlDSRmQophbqDltJ_bH8qd8&q=e-waste+recycling">
						</iframe>
					</div>
				</div>
			{% endif %}

		</div>	
	</div>
</div>

<script>
$(document).ready( function () {
    $('#dataTable').DataTable({
		"order": [[ 0, "desc" ]]
	});
});

function fullImg(img_src) {
	var div = document.getElementById('gen-modal-body');
	div.innerHTML = '<img src="' + img_src + '" style="max-height: 100%; max-width: 100%;">';
	$("#gen-modal").modal("show");
}

function updateItem(id) {
	var dispo_val = 0;
	if ($('#' + id.toString() + '_dispo_input')[0].checked == true) {
		dispo_val = "1";
	}
	
	var data = { id: id,
				 dispo_val: dispo_val,
				 notes_val: $('#' + id.toString() + '_notes_input').val()}; 
	
	$.post("{{url_for('upload_api.update_item')}}", data).done(function (response) {
		if (response['status'] == 1) {
			var div = document.getElementById('text-modal-body');
			div.innerHTML = response['message'];
			$("#text-modal").modal("show");		
		}
		else {
			var div = document.getElementById('text-modal-body');
			div.innerHTML = "Could not update item.<br><br>" + response['message'];
			$("#text-modal").modal("show");
		}
	});
}
</script>

{% if scroll %}
<script>
    document.getElementById('uploaded_image').scrollIntoView();
</script>
{% endif %}

{% endblock %}

